/*--------------------------MAIN SETTINGS-------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lucida Sans Unicode, sans-serif;
}

.wrapper {
    width: 909px;
    margin: 17px auto 0;
}

.clear-fix::after {
    clear: both;
    content: '';
    display: block;
}

a {
    text-decoration: none;
    color: #fff;
}

ul li {
    list-style: none;
}

/*-------------------------------------------HEADER-------------------------------*/

/*--------------------------------------HEADER-CONTACTS-------------------------------*/
.contacts {
    font: 18px Arial, Tahoma, sans-serif;
    color: #5e696d;
    width: 276px;
    float: left;
    margin-left: 7px;
}

.phone-wrapper {
    background: linear-gradient(#0d3559,#317490);
    width: 22px;
    height: 22px;
    border-radius: 100%;
    float: left;
}

.phone {
    background: url('../img/phone.png') no-repeat center;
    height: 100%;
}
/*--------------------------------------HEADER-REGISTRATION-------------------------------*/

.registration {
    background: linear-gradient(#1f6787,#0c3357);
    border-radius: 3px;
    box-shadow: 3px 3px 1px #dfdfdf;
    float: left;
    width: 495px;
    padding: 4px 3px;
    margin-left: 16px;
}

.reg-icon {
    background: url('../img/reg-icon.png') no-repeat;
    height: 18px;
    width: 14px;
    float: left;
}

.reg-form input {
    font-size: 11px;
    float: left;
}

.reg-form {
    font-size: 11px;
    color: #fff;
    float: left;
}

.reg-form a,.reg-form p {
    float: left;
}

.forgot-pass {
    text-decoration: underline;
    color: #bfbfbf;
    font-size: 11px;
}

/*--------------------------------------HEADER-MAIN-NAVIGATION-------------------------------*/

.main-nav {
    border: 1px solid #c5cbce;
    border-radius: 13px;
    box-shadow: 0 0 3px 1px #e9ebec;
    float: left;
    width: 80px;
    text-align: center;
    margin-left: 14px;
}
/*--------------------------------------LOGO-------------------------------*/

.logo {
    background: url('../img/logo.png');
    width: 909px;
    height: 237px;
    margin: 5px 0;
}

/*--------------------------------------MENU AND BASKET SETTINGS-------------------------------*/

.menu-and-basket {
    background: linear-gradient(#505860 5%, #2d3236 20%,#000);
    border-radius: 4px;
    border-top: 1px solid #2c345a;
    border-left: 1px solid #6a6f89;
    border-right: 1px solid #0d1642;
    border-bottom: 1px solid #0a1030;
    box-shadow: 2px 2px 3px #525460;
    font-size: 13px;
    padding: 6px 0 5px 0;
}

/*--------------------------------------MENU-------------------------------*/

.menu {
    width: 565px;
    margin-left: 125px;
    float: left;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a {
    color: #b1bcc0;
    padding: 3px 21px;
}

.menu ul li a:hover {
    background: linear-gradient(#225d76, #0c3357);
    border-radius: 20px;
    color: #fff;
}

/*--------------------------------------BASKET-------------------------------*/
.basket {
    width: 217px;
    height: 17px;
    float: left;
    font-family: Arial, Tahoma, sans-serif;
}

.basket div {
    display: inline-block;
}

.basket-ico {
    background: url('../img/basket.png') no-repeat;
    width: 21px;
    height: 17px;
}

.purchased {
    font-size: 11px;
    color: #929b9f;
    float: left;
}

.amount {
    font-size: 12px;
    color: #0d5a8f;
    float: left;
}