/*--------------------------MAIN SETTINGS-------------------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lucida Sans Unicode, sans-serif;
}

.wrapper {
    width: 909px;
    margin: 17px auto 0;
}

.clear-fix::after {
    clear: both;
    content: '';
    display: block;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/*-------------------------------------------HEADER-------------------------------*/

/*--------------------------------------HEADER-CONTACTS-------------------------------*/
.contacts {
    font: 500 18px Arial, Tahoma, sans-serif;
    color: #5e696d;
    width: 280px;
    float: left;
    margin-left: 7px;
}

.phone-wrapper {
    background: linear-gradient(#0d3559,#317490);
    width: 21px;
    height: 21px;
    border-radius: 100%;
    float: left;
}

.phone {
    background: url('../img/phone.png') no-repeat center;
    height: 100%;
}

.phone-numbers {
    float: left;
    padding-left: 2px;
}
/*--------------------------------------HEADER-REGISTRATION-------------------------------*/

.registration {
    background: linear-gradient(#1f6787,#0c3357);
    border-radius: 3px;
    box-shadow: 3px 3px 1px #dfdfdf;
    float: left;
    width: 498px;
    margin-left: 27px;
    padding-bottom: 2px;
}


.reg-icon {
    background: url('../img/reg-icon.png') no-repeat;
    height: 18px;
    width: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}

.reg-form {
    font-size: 11px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
}

.reg-form *{
    display: inline-block;
}

.reg-form input {
    font-size: 11px;
    width: 109px;
    margin-right: 3px;
    padding-left: 2px;
}

.reg-form a {
    color: #fff;
}

.enter::after {
    content: '|';
    margin: 0 2px;
}

.forgot-pass {
    text-decoration: underline;
    color: #bfbfbf;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

/*--------------------------------------HEADER-MAIN-NAVIGATION-------------------------------*/

.main-nav {
    border: 1px solid #c5cbce;
    border-radius: 13px;
    box-shadow: 0 0 3px 1px #e9ebec;
    float: left;
    width: 75px;
    height: 20px;
    text-align: center;
    margin-left: 14px;
    position: relative;
}

.link-wrapper {
    position: absolute;
    top: -5px; left: -2px;
    right: 0; bottom: 0;
    margin: auto;
}

.main-nav a{
    margin: 0 1px;
}

/*--------------------------------------LOGO-------------------------------*/

.logo {
    background: url('../img/logo.png');
    width: 909px;
    height: 237px;
    margin: 6px 0;
}

/*--------------------------------------MENU AND BASKET SETTINGS-------------------------------*/

.menu-and-basket {
    background: linear-gradient(#505860 5%, #2d3236 20%,#000);
    border-radius: 5px;
    border-top: 1px solid #2c345a;
    border-left: 1px solid #6a6f89;
    border-right: 1px solid #0d1642;
    border-bottom: 1px solid #0a1030;
    box-shadow: 2px 2px 3px #525460;
    font-size: 14px;
    padding: 6px 0 5px 0;
    margin-bottom: 10px;
}

/*--------------------------------------MENU-------------------------------*/

.menu {
    width: 555px;
    margin-left: 129px;
    float: left;
}

.menu ul li{
    display: inline-block;
}

.menu ul li a {
    color: #b1bcc0;
    padding: 2px 13px;
}

.menu ul li a:hover {
    background: linear-gradient(#225d76, #0c3357);
    border-radius: 20px;
    color: #fff;
}

/*--------------------------------------BASKET-------------------------------*/
.basket {
    width: 217px;
    height: 17px;
    float: left;
    font-family: Arial, Tahoma, sans-serif;
}

.basket div {
    display: inline-block;
}

.basket-ico {
    background: url('../img/basket.png') no-repeat;
    width: 21px;
    height: 17px;
}

.taken {
    font-size: 11px;
    color: #929b9f;
    float: left;
}

.amount {
    font-size: 12px;
    color: #0d5a8f;
    float: left;
}

.amount-of {
    font-size: 11px;
    color: #929b9f;
    float: left;
    margin-left: 15px;
}

.price {
    font-size: 12px;
    color: #0d5a8f;
    float: left;
    margin-left: 7px;
}

/*--------------------------------------ASIDES SETTINGS-------------------------------*/

/*--------------------------------------ASIDE HEADER-------------------------------*/
.product-catalog, .brands {
    font-size: 13px;
    color: #0c3256;
    width: 182px;
    float: left;
}


.aside-header {
    border: 1px solid #c5cbce;
    border-radius: 15px;
    box-shadow: 2px 2px 3px #8b8c8d;
    padding: 2px 2px 1px;
    height: 22px;
    margin-bottom: 15px;
}

.aside-header div {
    float: left;
}

.file-icon-wrap {
    background: linear-gradient(#317490,#0d3559);
    width: 22px;
    height: 22px;
    border-radius: 100%;
}

.file-icon {
    background: url('../img/aside-header-icon.png') no-repeat center;
    height: 100%;
    width: 100%;
}


.aside-header h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0 0 3px;
}


/*--------------------------------------ASIDE SUBCATALOG-------------------------------*/

.sub-catalog div {
    float: left;
}

.sub-catalog {
    border: 1px solid #c5cbce;
    border-radius: 12px;
    height: 24px;
    width: 143px;
    padding: 2px 2px;
    margin-bottom: 4px;
}

.sub-catalog-icon {
    background: #114165;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    float: left;
    position: relative;
}

.white-circle {
    background: #fff no-repeat;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}

.sub-catalog h3 {
    font-size: 13px;
    font-weight: normal;
    margin: 3px 0 0 2px;
}

.product-catalog ul {
    padding-left: 50px;
}

.product-catalog ul li {
    list-style: circle;
    margin-bottom: 5px;
}

.product-catalog ul li:last-child {
    margin-bottom: 0;
}


.product-catalog ul li a {
    font-size: 13px;
    color: #0c3256;
}

.product-catalog ul li a:hover {
    font: italic bold 14px Arial, Tahoma, sans-serif;
    color: #0c3256;
    text-decoration: underline;
}

/*--------------------------------------FORM-CHECKBOX-------------------------------*/
.brands form p{
    position: relative;
    padding-left: 14px;
    margin-bottom: 10px;
}

label {
    padding-left: 30px;
    color: #465961;
}

input[type="checkbox"] {
    position: absolute;
    top: 3px;
}

.choose-button {
    font-family: Arial, sans-serif;
    margin-left: 14px;
    padding: 7px 12px 7px;
    background: linear-gradient(#1f6787, #0c3357);
    border-radius: 13px;
    color: #fff;
    box-shadow: 2px 2px 2px #acacac;
    border: none;
}

.choose-button:active {
    padding: 9px 12px 5px;
    outline: none;
}

.choose-button:focus {
    outline: none;
}

/*--------------------------------------MAIN CONTENT-------------------------------*/

main {
    float: left;
    margin: auto 9px;
    width: 526px;
    height: 619px;
    background: linear-gradient(#e4e7e8, #93a7b0);
    border-radius: 3px;
}

.product-container {
    float: left;
    text-align: center;
    margin-right: 8px;
    padding: 18px 0 0 22px;
}

.photo-background {
    background: #fff;
    width: 136px;
    border: 1px solid #b1b2b3;
    border-radius: 8px;
    text-align: center;
    padding: 4px 0;
}

.product-photo {
    vertical-align: middle;
}

.product-name {
    color: #206988;
    font-size: 15px;
    height: 15px;
}

.description {
    color: #1f2528;
    font-size: 13px;
    height: 18px;
}

.product-price {
    margin-top: 3px;
    color: #114165;
    font: italic 900 16px Arial, Tahoma, sans-serif;
}

/*--------------------------------------FOOTER-------------------------------*/
.trade-marks-wrap {
    position: relative;
    margin-top: 35px;
    height: 50px;
}

.trade-marks {
    width: 699px;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
}

.trade-marks img {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

.footer {
    text-align: center;
    background: #213a4d;
    height: 100px;
    padding-top: 10px;
}

.footer-links li{
    display: inline-block;
}

.footer-links a {
    font: 12px Arial, sans-serif;
    color: #bec6c9;
    height: 100px;
}

.footer-links a:hover {
    color: #52abcb;
}

.copyright {
    color: #7f4740;
    font: 10px Arial, sans-serif;
    margin-top: 10px;
}


